@import "tailwindcss";

@theme {
  --color-primary: #1F4D3A;
  --color-secondary: #F7F5F2;
  --color-accent: #C7A17A;
  --color-text: #222222;
}

body {
font-family: var(--font-inter);
background: var(--background);
color: var(--foreground);
}
h1,h2,h3,h4 {
font-family: var(--font-playfair);
}